body {
    text-align: center;
    background: url("https://zavrel.net/background.jpg") black;
    background-position: center;
    color: aliceblue;
    font-family: sans-serif;
}

img {
    width: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px
}

p{
    font-size: 22px;
}

input{
    border: 0;
    padding: 10px;
    font-size: 18px;
    margin: 5px;
}

input[type="submit"]{
background: red;
    color: white;
}